
.logo {
  
  font-family: "Bungee", sans-serif;
}

.tweets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  

}

 div.tweets > i {
  padding-top: 0.5em;
  color: red;
  
}

div.tweets > i:hover {
  color: orange;
  
}

/* ANIMATION WITH BROWSER COMPATIBILITY */

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.7s infinite linear;
  -o-animation: bounce 0.7s infinite linear;
  -webkit-animation: bounce 0.7s infinite linear;
  animation: bounce 0.7s infinite linear;
  colr:000;

}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.1em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}